*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

html {
  color-scheme: light;
}

body {
  min-height: 100vh;
  line-height: 1.5;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
select {
  font: inherit;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

@mixin flex($row) {
  display: flex;
  flex-direction: $row;
  justify-content: center;
  align-items: center;
}

section {
  padding: 4rem;
  max-width: 1440px;
  margin: 0 auto;
}
