// colors

$primary-color: white;
$secondary-color: black;
$pop-color: rgb(255, 25, 0);
$pops-color: #ff4800;

//fonts

$font-size: (
  xsmall: 0.7rem,
  small: 1rem,
  para: 1.3rem,
  medium: 1.5rem,
  reg-nor: 1.8rem,
  normal: 2rem,
  heading: 2.5rem,
  icon: 6rem,
);

$font-weight: (
  faint: 100,
  thin: 200,
  thin3: 300,
  regular: 400,
  bold: 600,
  bolder: 700,
  extra-bold: 900,
);
